@font-face{
	font-family: 'Circular Bold';
	src:url('../fonts/Circular Std Bold.ttf');
}
@font-face{
	font-family: 'Circular Book';
	src:url('../fonts/Circular Std Book.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body{
	font-family: 'Circular Bold','Montserrat', Arial;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
		/*background: rgb(33,35,195);
		background: linear-gradient(90deg, rgba(33,35,195,1) 0%, rgba(36,88,194,1) 48%, rgba(57,255,208,1) 100%);*/
	}
	#container{
		max-width:1600px;
		width: 80%;
		align-self: center;
		margin: 20px auto;
		justify-content: center;
		display: flex;
		flex-flow: column;
	}
	#container .box{
		background-color:white;
		border-radius:30px;
		margin:20px 0;
		padding:30px;
		box-shadow: 5px 5px 0 #191414;
		
	}
	.wrapContainer{
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 4fr 3fr 2fr;
		grid-column-gap: 20px;
	}
	
	.box{
		display: flex;
		
		flex-flow: column;
		align-items: center;
		align-content: center;
		padding: 30px;
	}
	.box .data-field{
		width:80%;
		height:50px;
		line-height: 50px;
		border-radius: 10px;
		text-indent: 10px;
		font-size:28px;
		border: 0.0009em solid black;
		font-family: 'Circular Std Book', 'Montserrat';
		margin: 0 auto;
	}
	.box button{
		margin-top:20px;
		min-width: 180px;
		border-radius: 10px;
		background-color: #191414;
		font-weight: bolder;
		color:white;
		height:60px;
		font-size:23px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding:20px;
		line-height: 58px;
		border:0;
		transition: 0.3s;
		font-family: 'Circular Bold','Montserrat', Arial;

	}
	.box button:hover{
		background-color: white;
		border:1px solid #4270A6;
		color:#4270A6;
		box-shadow: 5px 5px 0px #4270A6;
	}

	#list{
		width:90%;
		border-left: 5px solid #191414;
		border-top: none;
		border-bottom:none;
		border-right:none;
		outline: none;
		list-style: none;
		border-radius: 9px;
		font-family: 'Ubuntu Mono', monospace;

	}
	#list li{
		font-size: 18px;
	}
	#buttons{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		margin:10px auto;
	}
	#resumer{
		padding-bottom: 30px;
	}
	#resumer select{
		list-style: none;
		width:100%;
		border:none;
		height: 330px;
	}
	#resumer select::-ms-expand {
		display: none;
	}
	#resumer select option{
		width: 80%;
		background-color: #f15457;
		color:white;
		margin:5px 10px 5px 0;
		padding:10px;
		font-size: 30px;
		border-radius: 10px;
		border: none;
		margin: 5px auto;
		align-self: center;
	}

	/*==========================*/

	.side-bar{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		height: 100%;
		padding-top: 30px;
		
	}
	.operation{
		display: grid;
		grid-template-columns: 1fr 2fr;
		
	}
	#center{
		padding: 0px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		width: 100%;
	}
	#center h1{
		width:80%;
		margin:20px auto;
	}
	.content{
		background: #CCC;
		border-radius: 20px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		min-height:500px ;
		width: ;

	}
	/*Side Bar*/
	
	.tabs{
		width:100%;
		background: #FFF;
		border-radius: 50px 0 0 50px;
		height:50px;
		display: grid;
		grid-template-columns: 1fr;
		margin:0;

	}
	.tabs label{
		text-align: center;
		line-height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		width:100%;
		margin:0;
	}
	.negative-radius-1, .negative-radius-2, .negative-radius-3, .negative-radius-4{
		background: #FFF;
		width:80%;
		height:10px;
		margin-left:auto;
	}
	.negative-radius-1 .white-ground, .negative-radius-2 .white-ground, .negative-radius-3 .white-ground, .negative-radius-4 .white-ground{
		background: white;
		width: 100%;
		height:100%;
		margin: 0;
		padding: 0;
		border-radius: 0 8px 8px 0;
	}
	#top-radius{
		border-radius: 0 0px 8px 0;
	}
	/*============Quotes====================*/
	
	.motivacional-quotes {
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
	}
	.motivacional-quotes-list ul{
		list-style: none;
		overflow:hidden; 
		overflow-y:scroll;
		height:290px; 
		width:100%;
		padding: 0;
	}
	.motivacional-quotes-list-item{
		width: 80%;
		min-height: 50px;
		list-style: none;
		border-left:5px solid #CCC;
		padding: 10px 0 10px 10px;
		margin:20px 0;

	}
